{% include "header-main.html" %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/chat-style.css') }}">

<body>
<div id="chat-main">
    <div id="chatbox">
        <p class="botText"><span>Hello, how are you today?</span></p>
    </div>
    <div id="userInput">

        <input id="textInput" type="text" name="msg" placeholder="Message">
        <button id="buttonInput" type="submit" class="btn btn-secondary btn-lg" value="Send">Send</button>

    </div>
    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", {msg: rawText}).done(function (data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }

        $("#textInput").keypress(function (e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function () {
            getBotResponse();
        })
    </script>
</div>
</body>
</html>
