{% include "header-main.html" %}

<!-- Header -->
<header class="masthead">

    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to Fussy!</div>

            <div class="container">

                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-primary btn-lg active special-large" role="button"
                           aria-disabled="true">Support</a>
                    </div>
                    <div class="col">
                        <a href="/chat" class="btn btn-primary btn-lg active special-large" role="button"
                           aria-disabled="true">Chat</a>
                    </div>
                </div>

                <br>
                <br>

                <div class="row">
                    <div class="col">
                        <a href="/packing" class="btn btn-primary btn-lg active special-large" role="button"
                           aria-disabled="true">Packing list</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-primary btn-lg active special-large" role="button"
                           aria-disabled="true">Transport</a>
                    </div>
                </div>

                <br>
                <br>


            </div>

        </div>
    </div>

</header>

<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/jqBootstrapValidation.js') }}"></script>

<script src="{{ url_for('static',filename='js/contact_me.js') }}"></script>
<script src="{{ url_for('static',filename='js/agency.min.js') }}"></script>

</body>

</html>
