{% include "header-main.html" %}

<!-- Header -->
<header class="masthead">

    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in" style="font-size: 45px; font-weight: bold">Bag Checklist</div>

        </div>

    </div>

</header>

<div class="container">
    <ul id="list" class="pl">
            <li id="first">Things to help you relax or pass the time</li>
            <li>Music</li>
            <li>Snacks</li>
            <li>Slippers or flip-flops</li>
            <li>Eye mask and earplugs</li>
    </ul>

</div>

<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/main.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/jqBootstrapValidation.js') }}"></script>

<script src="{{ url_for('static',filename='js/contact_me.js') }}"></script>
<script src="{{ url_for('static',filename='js/agency.min.js') }}"></script>

</body>

</html>